<footer class="site-footer row">
    <div class="wrapper">
        <ul class="footer-links">
    		<li>
                  <a href="#">freedom of information</a>
            </li>
    		<li>
                  <a href="#">site map</a>
            </li>
    		<li>
                  <a href="#">feedback</a>
            </li>
        </ul>
    </div>
</footer>
<script src="{{ site.github.url }}/js/jquery.js"></script>
<script src="{{ site.github.url }}/js/foundation.js"></script>
<script src="{{ site.github.url }}/js/app.js"></script>
{% comment %}
<script type="text/babel" src="{{ "/js/app-react.js" | prepend: site.baseurl }}"></script>
{% endcomment %}
