<ul class="site-nav up-8" data-equalizer="">
    <li>
        <a data-equalizer-watch="" href="/">Home</a>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="#">About Keble</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">About Keble</h6>
            </li><li>
                <a href="#">News</a>
            </li><li>
                <a href="#">Events</a>
            </li><li>
                <a href="#">Keble Today</a>
            </li><li>
                <a href="#">Keble's Past</a>
            </li><li>
                <a href="#">Tour the College</a>
            </li><li>
                <a href="#">Keble's Architecture</a>
            </li><li>
                <a href="#">Chapel</a>
            </li><li>
                <a href="#">Library and Archives</a>
            </li><li>
                <a href="#">Keble Podcasts</a>
            </li><li>
                <a href="#">Keble's Gardens</a>
            </li><li>
                <a href="#">How to find us</a>
            </li><li>
                <a href="#">Governance</a>
            </li><li>
                <a href="#">Freedom of Information</a>
            </li><li>
                <a href="#">Links and resources</a>
            </li><li>
                <a href="#">Contact us</a>
            </li><li>
                <a href="#">Staff Vacancies</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="/prospective/international">Prospective Students</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Prospective students</h6>
            </li><li>
                <a href="#">Undergraduate</a>
            </li><li>
                <a href="#">Graduate</a>
            </li><li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </li>
        <li class="has-submenu">
        <a data-equalizer-watch="" href="#">Current Students</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Current Students</h6>
            </li><li>
                <a href="#">Studying at Keble</a>
            </li><li>
                <a href="#">Student Life and Activities</a>
            </li><li>
                <a href="#">Financial Matters</a>
            </li><li>
                <a href="#">Personal Support &amp; Welfare</a>
            </li><li>
                <a href="#">Graduate-Specific Information</a>
            </li><li>
                <a href="#">College Handbook</a>
            </li><li>
                <a href="#">Frequently Asked Questions</a>
            </li><li>
                <a href="#">Meal Booking</a>
            </li><li>
                <a href="#">Maintenance Form</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="#">Teaching and Research</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Teaching and Research</h6>
            </li><li>
                <a href="#">Academic staff by subject</a>
            </li><li>
                <a href="#">Academic staff by name</a>
            </li><li>
                <a href="#">Advanced Studies Centre</a>
            </li><li>
                <a href="#">Academic vacancies</a>
            </li><li>
                <a href="#">Research/Reading groups</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="#">Alumni</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Alumni</h6>
            </li><li>
                <a href="#">Alumni Events</a>
            </li><li>
                <a href="#">Connecting with Keble</a>
            </li><li>
                <a href="#">Supporting Keble</a>
            </li><li>
                <a href="#">Keble Alumni Online</a>
            </li><li>
                <a href="#">Recent Leavers</a>
            </li><li>
                <a href="#">Memorabilia</a>
            </li><li>
                <a href="#">Publications</a>
            </li><li>
                <a href="#">Contact Us</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="#">2020 Campaign</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">2020 Campaign</h6>
            </li><li>
                <a href="#">The Campaign in Context</a>
            </li><li>
                <a href="#">The H B Allen Centre</a>
            </li><li>
                <a href="#">Supporting the Campaign</a>
            </li><li>
                <a href="#">The Campaign Board</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="/prospective/stratford">Conferences</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Conferences</h6>
            </li><li>
                <a href="#">Conference Facilities</a>
            </li><li>
                <a href="#">Dining</a>
            </li><li>
                <a href="#">Location</a>
            </li><li>
                <a href="#">Enquiries</a>
            </li><li>
                <a href="#">Parking</a>
            </li><li>
                <a href="#">Conference Accommodation</a>
            </li><li>
                <a href="#">Book Your Accommodation</a>
            </li><li>
                <a href="#">Feedback</a>
            </li>
        </ul>
    </li>
    <li class="has-submenu">
        <a data-equalizer-watch="" href="#">Bed &amp; Breakfast</a>

        <ul class="right-submenu"><li aria-hidden="true" class="back" style="display: block;"><a href="#">Back</a></li><li aria-hidden="true" class="section-name" style="display: block;">
                <h6 class="title">Bed &amp; Breakfast</h6>
            </li><li>
                <a href="#">Bed &amp; Breakfast Facilities</a>
            </li><li>
                <a href="#">Parking</a>
            </li><li>
                <a href="#">Location</a>
            </li><li>
                <a href="#">Feedback</a>
            </li>
        </ul>
    </li>
</ul>
