@import "settings";
@import "foundation";
@import "fontello/css/_fontello.scss";

body {
    background-color: #efede2;
}

date {
    font-size: 0.8em;
}

.recent-publications {
    img {
        float: left;
        margin: 10px 10px 20px 0;
    }
    .section-text {
        padding-top: 10px;
    }
}

.section-heading {
    border-top: 3px solid #EFEFEF;
    border-bottom: 1px solid #EFEFEF;
    padding: 10px 0;
}

.site-header {
    height: 201px;
    background-image: url(../img/bg_portal_top.gif);
    background-repeat: repeat-x;
    .site-header-inner {
        height: 100%;
        background-image: url(../img/bg_portal_header.gif);
    }
    .site-header-top {
        height: 110px;
        margin-bottom: 9px;
    }
    .site-logo {
        margin-bottom: 9px;
        margin-left: 11px;
        margin-top: 21px;
    }
    .site-logo-right {
        margin-right: 7px;
        margin-top: 9px;
    }
    .site-search {
        height: 37px;
        input, button {
            margin-bottom: 0;
        }
        input {
            width: 100%;
            height: 1.5rem;
            margin-top: 7px;
            padding: 0 1rem;
            background-color: #474747;
            border: 0 none;
            border-radius: 20px;
            color: #ffffff;
            font-size: 0.8rem;
        }
        @media #{$medium-up} {
            input::-webkit-input-placeholder {
                color: #ffffff;
            }
            input:-moz-placeholder {
                color: #ffffff;
            }
            input::-moz-placeholder {
                color: #ffffff;
            }
            input:-ms-input-placeholder {
                color: #ffffff;
            }
        }
        button {
            width: 100%;
            background-color: transparent;
            border: 0;
            margin-top: 8px;
            margin-left: 5px;
            padding: 0;
        }
        .column:first-child {
            padding-right: 0;
        }
        .column:last-child {
            padding-left: 0;
        }
    }
}

.top-bar {
    background-color: #ffffff;
}

.top-bar-section > ul {
    border-bottom: 3px solid #B3B6A4;
    margin-bottom: 5px;
    padding: 0 0 0 10px;
    li {
        margin: 0 10px;
        a {
            border-bottom: 3px solid #B3B6A4;
            margin-bottom: -3px;
            padding: 0 !important;
        }
        &.has-dropdown > a {
            padding: 0 !important;
        }
        &.active a,
        &:hover a {
            border-bottom: 3px solid #000000;
        }
    }
}

.top-bar-section .right-off-canvas-toggle {
    display: none;
}

@media only screen and (min-width: 733px) and (max-width: 1000px) {
    .top-bar-section {
        & > ul {
            display: none;
        }
        .right-off-canvas-toggle {
            display: block;
            float: right;
            color: #000;
            font-size: 1.6em;
            margin-right: 8px;
        }
    }

    /*
    .top-bar-section > ul {
        overflow: auto;
        overflow-y: hidden;
        max-width: 100%;
        white-space: nowrap;
        display: inline-block;
        li {
            display: inline-block;
            float: none;
        }
    }
    */
}

.site-header-mobile {
    .site-search {
        background-color: #941f15;
        padding: 12px 0;
        input, button {
            margin: 0;
        }
        button {
            padding: 0;
            background: transparent;
            border: none;
        }
        & .column:first-child {
            padding-right: 0;
        }
        & .column:last-child {
            padding-left: 0;
        }
    }
    .icon-search {
        font-size: 20px;
    }
}

.site-header-mobile-top {
    position: relative;
    height: 56px;
    box-sizing: content-box;
    border-bottom: 9px solid #a48e76;
    background-color: #941f15;
    .site-logo-keble {
        height: 50px;
    }
    .site-logo-oxford {
        height: 54px;
    }
    .top-icons {
        /*
        position: absolute;
        top: 0;
        right: 10px;
        height: 36px;
        bottom: 0;
        margin: auto;
        */
        width: 6em;
        margin-right: 16px;
        a {
            color: #ffffff;
        }
        .top-search-icon {
            font-size: 20px;
        }
        .top-menu-icon {
            font-size: 24px;
        }
    }
}

.icon-bar.two-up {
    .item {
        height: 56px;
        line-height: 56px;
        padding: 0 2px;
        background-color: #941f15;
    }
}

#mobile-site-search {
    display: none;
}

.page-content {
    background-color: #ffffff;
}

.row .slides {
    margin-bottom: $column-gutter;
}

// off canvas menu
.inner-wrap{
    min-height: 100vh;
}

.right-off-canvas-menu {
    a {
        display: block;
        color: $off-canvas-link-color;
    }

    .site-nav {
        font-size: $small-font-size;
        margin: 0;

        li {
            margin: 0;
            border-bottom: 1px solid $black;
        }

        a {
            padding: ($column-gutter / 1.5);
            &:hover{
                background-color: rgba(255, 255, 255, 0.1);
            }
        }

        .has-submenu > a::after {
            content: "»";
            font-weight: bold;
            font-size: 1.2em;
            display: inline;
            float: right;
            margin-left: 0.5rem;
        }

        .back > a {
            color: $silver;
            background-color: $charcoal;
            padding: ($column-gutter / 2) $column-gutter;
            &::after {
                content:"";
            }
            &::before {
                font-size: 1.2em;
            	content: "«";
                margin-right: 0.5rem;
            }
            &:hover{
                background-color: rgba(255, 255, 255, 0.4);
            }
        }
        .title {
            font-size: $small-font-size;
            border-top: 1px solid $steel;
            margin: 0;
            padding: ($column-gutter / 2) ($column-gutter / 1.5);
            color: $gainsboro;
            background-color: $charcoal;
            text-transform: uppercase;
        }
    }
}
.right-submenu {
    height: auto;
}
// end off canvas menu

// slideshow
.cycle-slideshow {
    background-color: #2f2c3f;
    border: ($column-gutter / 3) solid #2f2c3f;
    margin-bottom: 0;
    overflow: hidden;
    width: 100%;

    @media #{$medium-up} {
        border: none;
    }

    .slide, img {
        width: 100%;
        height: auto;
    }

    img {
        border: 1px solid #d9e0e6;
    }

    .slide > a {
        display: block;
    }
    .slide-desc {
        background-color: transparentize(#2f2c3f, 0.2);
        padding: ($column-gutter / 2) ($column-gutter / 2) ($column-gutter * 1.5) 0;
        .slide-title{
            font-family: Arial, Helvetica, sans-serif;
            font-size: rem-calc(14);
            font-weight: bold;
            letter-spacing: 0.01em;
            color: $white;
            margin: 0;
        }
        p{
            color: $white;
            display: none;
        }
        @media #{$medium-up} {
            @include grid-column(4);
            bottom: $column-gutter / 2;
            position: absolute;
            padding-left: ($column-gutter / 2);
            right: $column-gutter / 2;
            .slide-title {
                margin-bottom: $header-bottom-margin;
            }
            p {
                display: inherit;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    .cycle-pager {
        bottom: $column-gutter / 4;
        position: absolute;
        right: $column-gutter / 4;
        z-index: 998;
        span{
            background-color: transparentize($white, .5);
            cursor: pointer;
            display: inline-block;
            line-height: 0;
            font-size: 0;
            margin-right: ($column-gutter / 3);
            overflow: hidden;
            padding: ($column-gutter / 3) ($column-gutter / 1.5) 0 0;
            width: auto;
            &.cycle-pager-active {
                background-color: $white;
            }
        }
        @media #{$medium-up} {
            bottom: $column-gutter;
            right: $column-gutter;
        }
    }
}

.slideshow-above-content .cycle-slideshow {
    margin-bottom: $column-gutter;
}
// end slideshow

.more-link {
    background-image: url(../img/more_line.gif);
    background-position: 0 58%;
    background-repeat: no-repeat;
    color: $primary-color;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-style: italic;
    font-weight: bold;
    text-decoration: none;
    padding-left: 13px;
}

.intro, .listings {
    margin-top: 20px;
}

.block-header {
    background-color: $primary-color;
    color: #ffffff;
    margin: 0;
    padding: $column-gutter / 2;
}

@media #{$medium-up} {
    .news-listing .block-header {
        border-left: 1px solid $primary-color;
    }

    .events-listing .block-header {
        border-left: 1px solid #ffffff;
    }
}

.block-list {
    @media #{$medium-up} {
        border-left: 1px solid $silver;
    }
    list-style: none;
    margin-left: 0;
    li {
        padding: 10px;
        .h {
            font-family: Arial, Helvetica, sans-serif;
            font-weight: bold;
            line-height: 1.3em;
            margin-top: 0;
        }
        p {
            line-height: 1.3em;
            margin-bottom: 4px
        }
    }
}

.events-listing ul li {
    .h {
        margin-bottom: 0;
    }
    date {
        margin-bottom: 2px;
    }
}

.news-listing ul li {
    img {
        float: right;
        margin: 0 0 5px 5px;
    }
}

.site-footer {
    background-color: #b3b6a4;
    .wrapper {
        padding: 10px 0;
        text-align: center;
    }
}

.footer-links {
    list-style: none;
    margin: 0;
    li {
        display: inline-block;
        a {
            background-image: url(../img/footer_link_arrow.gif);
            background-position: 0 58%;
            background-repeat: no-repeat;
            padding-left: 15px;
            margin-right: 20px;
            cursor: pointer;
            font-size: 0.8em;
            color: $body-font-color;
        }
        &:last-child a {
            margin-right: 0;
        }
    }
}
