<!DOCTYPE html>
<html>
{% include head.html %}
<body>
    <div class="off-canvas-wrap" data-offcanvas>
        <div class="inner-wrap">
            <div class="background-mask">
            {% include header.html %}

                <div class="page-content row">
                    <div class="wrapper">
                        {{ content }}
                    </div>
                </div>

                <div class="right-off-canvas-menu">
                    {% include main-nav.html %}
                </div>
            </div>

            {% include footer.html %}

            <a class="exit-off-canvas"></a>
        </div>
    </div>
</body>
</html>
